

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

p , h5{
    margin: 0;
}

h5{
    font-size: 18px;
    font-weight: 600;
}

#mainBox
{
  
    width: 700px;
    
}

#map
{
    height: 400px;
    
   
    position: relative;
   box-shadow: 0px 0px 15px 1px rgba(219,212,219,1);
}

#mapView
{
    z-index: 8;
    position: absolute;
    width: 100%;
    height: 100%;
   
}

#position
{
    position: absolute;
    right: 0;
    background-color:white;
    width: 70px;
    height: 50px;
    padding: 5px 10px;
    z-index: 10;
    border-radius: 3px 3px 3px 3px ;
}

#position ul
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#position li
{
    display: flex;
    width: 100%;
    align-content: center;
    
}
#position li p
{
    margin-left: 5px;
    font-weight: 400;
}
#boxName , #boxMarkerSrc
{
    position: absolute;
    left: -40px;
    top: 10px;
    width: 190px;
    height: 30px;
    background-color:white;
    box-shadow: 0px 0px 15px 1px rgba(219,212,219,1);
    border-radius: 3px 0px 0px 3px ;
    padding: 3px 15px;
    display: flex;
    align-items: center;
}
#boxName ul , #boxMarkerSrc ul
{
    display: flex;
    align-items: center;
}
#boxName li , #boxMarkerSrc li
{
    padding-right: 15px;
}
#boxName li , #boxMarkerSrc li
{
    padding-right: 15px;
}
#boxMarkerSrc i , #boxName i
{
    color:  rgb(232, 103, 107);
    opacity: 0.3;
    width: 12px;
}
#boxMarkerSrc input[type=text] , #boxName input[type=text]
{
    
    width: 70px;
}
#boxMarkerSrc
{
    top: 50px;
}

#boxMarkerSrc:hover i
{
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#boxName:hover i
{
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


#boxMarkerSrc:hover
{
    left: -190px;
    transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#boxName:hover
{
    left: -190px;
    transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#nick
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 600;
    
    left: 0;
    background-color:white;
    width: 100px;
    height: 30px;
    z-index: 10;
    border-radius: 3px 3px 3px 3px ;
}

#czat
{
    background-color: white;
    height: 130px;
    border-radius: 0 0 3px 3px ;
    box-shadow: 0px 1px 15px 1px rgba(219,212,219,1);
    padding: 15px 10px;
    overflow:  auto;
    position: relative;
}
.massage
{
    display: flex;
    margin: 6px 0;
    
}
.massage .PlayerNick
{
    font-size: 15px;
    margin: 0 10px 0 10px;    
}

.massage p
{
    font-size: 14px;
   
}

#addMessage
{
    position: relative;
    bottom:20px;
    left: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 690px;
    box-shadow: 0px 6px 10px 1px rgba(219,212,219,1);
}
#textMessage
{
    width: 80%;
    
    margin-right: 10px;
}